.auth-page {
  height: 100vh;
  background: rgba(51, 204, 51, 0.045);

  .auth-main {
    max-width: 450px;
    margin: 32px auto;
    background: white;
    padding-bottom: 42px;
    padding-top: 23px;

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }

    .form-title {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
