.dashboard-container {
  padding: 30px;

  @media only screen and (max-width: 768px) {
    padding: 20px 20px 80px 20px;
  }

  .stat-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    @media only screen and (max-width: 568px) {
      gap: 14px;
    }

    .stat-card {
      padding: 24px;
      background: #ffffff;
      border-radius: 8px;
      color: #121212;
      min-width: 170px;

      @media only screen and (max-width: 568px) {
        padding: 16px 12px;
        min-width: 120px;
        width: calc(50% - 32px);
      }

      .stat-title {
        font-size: 14px;
        margin: 16px 0;

        @media only screen and (max-width: 568px) {
          margin: 8px 0;
          font-size: 12px;
        }
      }

      .stat-value {
        font-size: 28px;
        font-weight: 600;

        @media only screen and (max-width: 568px) {
          font-size: 24px;
        }
      }
    }
  }
}
