.r32 {
  .view-details {
    .v-d-row {
      display: flex;
      flex-direction: row;
      padding: 11px 0;
      align-items: center;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }

      .d-r-left {
        width: 170px;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.6;

        @media only screen and (max-width: 768px) {
          margin-bottom: 5px;
        }
      }

      .d-r-right {
        width: calc(100% - 170px);
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        &.fit {
          width: fit-content;
        }
      }
    }
  }

  .conversation-container {
    min-height: calc(100vh - 250px);

    .c-main {
      height: calc(100vh - 430px);
    }

    .comment-wrapper {
      padding: 7px 0;
    }
  }
}
