.page-info {
  padding: 30px;
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }

  .page-title {
    font-size: 24px;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }
  }

  .page-desc {
    max-width: 700px;
    margin-top: 10px;
    font-size: 18px;
    @media only screen and (max-width: 768px) {
      font-size: 15px;
    }
  }
}
