.behavioural-log-list {
  min-height: 400px;

  .b-l-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 5px;
    padding: 15px 10px;
    border-radius: 8px;
    transition: transform 0.5s;
    &.hide {
      display: none;
    }

    @media only screen and (max-width: 576px) {
      flex-direction: column-reverse;
      align-items: unset;
    }

    .b-i-left {
      font-size: 15px;
      @media only screen and (max-width: 576px) {
        font-size: 14px;
      }
    }

    .b-i-right {
      font-size: 13px;
      opacity: 0.7;
      min-width: 118px;
      text-align: right;
      transform: translateY(-4px);
      @media only screen and (max-width: 576px) {
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .r-arr {
        transform: translateY(4px) !important;
        &.rotate {
          transform: translateY(5px) rotate(180deg) !important;
        }
      }
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .conversation-container {
    min-height: calc(100vh - 330px) !important;
    .c-main {
      height: calc(100vh - 530px) !important;
    }
  }
}

.curriculum-container {
  max-width: calc(100vw - 73px);

  .border-light {
    td,
    th {
      border: 1px solid #dee2e6 !important;
    }
  }

  .border-dark {
    td,
    th {
      border: 1px solid #373a40 !important;
    }
  }

  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 12px !important;
  }
}

.color-select {
  margin-top: 18px;

  .c-s-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
    span {
      color: #f03e3e;
    }
  }
}
