.page-container {
  .page-main {
    padding: 60px 30px 110px 30px;
    @media only screen and (max-width: 768px) {
      padding: 30px 20px 80px 20px;
    }

    .pm-inner-wrapper {
      // max-width: 900px;

      .onboard-group {
        margin-top: 50px;
        @media only screen and (max-width: 768px) {
          margin-top: 30px;
        }

        .form-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 30px;
          gap: 24px;

          &.two-col {
            width: 66.6%;
          }

          &.one-col {
            width: 66.6%;
          }

          @media only screen and (max-width: 576px) {
            display: block;
            margin-bottom: unset;

            &.two-col, &.one-col {
              width: 100%;
            }
          }

          .form-item {
            width: 47%;
            @media only screen and (max-width: 576px) {
              width: 100%;
              margin-bottom: 20px;
            }

            &.upload {
              @media only screen and (max-width: 696px) {
                width: 100%;
              }
            }

            .custom-title {
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 6px;

              span {
                color: #ff6b6b;
              }
            }
          }
        }
      }
    }
  }
}
