.data-page-container {
  padding: 30px 30px 60px 30px;
  min-height: calc(100vh - 167px);

  @media only screen and (max-width: 768px) {
    padding: 20px 20px 80px 20px;
    min-height: calc(100vh - 172px);
  }

  .d-p-wrapper {
    .d-p-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.jump-line {
        @media only screen and (max-width: 768px) {
          display: block;

          .d-p-h-left {
            margin-bottom: 13px;
          }

          .d-p-h-right {
            justify-content: flex-end;
          }
        }
      }

      .d-p-h-left {
        font-size: 23px;
        font-weight: 500;
        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }

        .go-back {
          margin-right: 8px;
          @media only screen and (max-width: 768px) {
            svg {
              transform: translateY(3px);
            }
          }
        }
      }

      .d-p-h-right {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .d-p-search {
      padding: 20px 30px;
      margin: 20px -30px;

      &.with-btns {
        display: flex;
        flex-direction: row;
      }

      &.next {
        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }
      }

      @media only screen and (max-width: 768px) {
        padding: 20px;
        margin: 20px -20px;
      }

      .s-left {
        width: 100%;
        max-width: 696px;
      }

      .s-right {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.next {
          @media only screen and (max-width: 768px) {
            margin-left: unset;
            margin-top: 10px;
          }
        }
      }
    }

    .d-p-main {
      .table-last {
        text-align: right !important;
      }
    }
  }
}

.large-only {
  @media only screen and (max-width: 576px) {
    display: none;
  }
}
