a {
  text-decoration: none;
  color: unset;
}

.dark-card-bg {
  background-color: #1f1f1f;
}

.light-card-bg {
  background-color: white;
}

.green-text {
  color: #33cc33;
}

.click {
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.r-icon {
  transition: 0.5s;
  &.rotate-icon {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.mantine-19f4nr1 {
  max-width: 375px !important;
}
