.events-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;

  .event-item {
    width: 300px;
    padding: 10px;
    @media only screen and (max-width: 576px) {
      width: 100%;
    }

    .e-i-wrapper {
      border-radius: 4px;
      padding: 20px;

      .t-btw {
        margin: 0 10px;
      }
      .e-i-top {
        text-transform: uppercase;
        margin-bottom: 25px;
        opacity: 0.6;
        display: flex;
        align-items: center;

        .day {
          font-weight: 600;
          font-size: 25px;
          margin-top: 5px;
        }
      }

      .e-i-middle {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 30px;
        line-height: 140%;
        opacity: 0.9;
      }

      .e-i-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        opacity: 0.7;

        .b-left {
          font-size: 12px;
          font-weight: 500;
          .b-time {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
